* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ms-sans-serif;
    src: url(font/ms-sans-serif-1/ms-sans-serif-1.ttf);
}

body {
    background-color: #008080;
    font-family:'ms-sans-serif',sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#window-wrapper {
    background-color: #c0c7c8;
    height: 400px;
    width: 600px;
}

#title-bar {
    background-color: #0000a8;
    height: 30px;
}