* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ms-sans-serif;
    src: url(font/ms-sans-serif-1/ms-sans-serif.ttf);
}

@font-face {
    font-family: ms-sans-serif-bold;
    src: url(font/ms-sans-serif-1/ms-sans-serif-bold.ttf);
}

body {
    background-color: #008080;
    font-family:'ms-sans-serif',sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#window-wrapper {
    background-color: #c0c7c8;
    border-image: url('images/border.png') 4 / 4px round;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#title-bar {
    background-color: #0000a8;
    height: 36px;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-bar #title {
    display: flex;
    align-items: center;
}

#title-bar #title p {
    font-family: 'ms-sans-serif-bold',sans-serif;
    color: white;
    font-size: 18px;
}

#title-bar #title img {
    width: 34px;
    height: 32px;
    margin-left: 4px;
    margin-right: 6px;
}

#title-bar #button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4px;
}

#title-bar #button img {
    width: 32px;
    height: 28px;
    margin-left:4px;
}

#menu-bar {
    display: flex;
    align-items: center;
    height: 40px;
}

#menu-bar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    list-style-type: none;
}

#menu-bar ul li{
    font-size: 18px;
    margin-left:16px;
    text-decoration-thickness: 2px;
}

#main-content {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#sidebar-tools {
    width: 122px;
}

#canvas-and-scroll-container {
    display: flex;
    border:4px solid transparent;
    border-image: url('images/border-inverted.png') 4 / 4px round;
    margin-right:8px;
}

#canvas {
    width: 500px;
    height: 500px;
    background-color: white;
}

#scroll-bar {
    width: 32px;
    background-color: #dedede;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:column;
}

#scroll-up-button, #scroll-down-button {
    width: 24px;
    height: 24px;
    background-color: #bdbdbd;
    border:4px solid transparent;
    border-image: url('images/border.png') 4 / 4px round;
}

#color-picker {
    height: 148px;
}