* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ms-sans-serif;
    src: url(font/ms-sans-serif-1/ms-sans-serif.ttf);
}

@font-face {
    font-family: ms-sans-serif-bold;
    src: url(font/ms-sans-serif-1/ms-sans-serif-bold.ttf);
}

body {
    /*background-color: #008080;*/
    background-image:url('images/background/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'ms-sans-serif',sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#window-wrapper {
    background-color: #bdbdbd;
    border-image: url('images/border/border.png') 2 / 2px round;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#title-bar {
    background-color: #0000a8;
    height: 18px;
    margin: 2px 2px 0px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-bar #title {
    display: flex;
    align-items: center;
}

#title-bar #title p {
    font-family: 'ms-sans-serif-bold',sans-serif;
    color: white;
    font-size: 9px;
}

#title-bar #title img {
    width: 17px;
    height: 16px;
    margin-left: 2px;
    margin-right: 3px;
}

#title-bar #button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2px;
}

#title-bar #button .title-border {
    width: 12px;
    height: 10px;
    margin: 0 0 0 2px;
    background-color:#bdbdbd;
    border: 2px solid transparent;
    border-image: url('images/border/border-title-button.png') 4 / 2px round;
}

#title-bar #button .title-border img {
    padding:0;
    margin:0;
    width: 12px;
    height: 10px;
}

#title-bar #button .title-border:active{
    border: 2px solid transparent;
    border-image: url('images/border/border-inverted.png') 2 / 2px round;
}


#title-bar #button .title-border img:active {
    margin-top: 1px;
    margin-left: 1px;
}

#menu-bar {
    display: flex;
    align-items: center;
    height: 20px;
}

#menu-bar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-left:4px;
}

#menu-bar ul li button{
    font-family:'ms-sans-serif',sans-serif;
    font-size: 9px;
    padding: 2px 6px;
    border:none;
    background-color:transparent;
    text-decoration-thickness: 1px;
}

#menu-bar ul li button:focus-visible{
    background-color: #0000a8;
    color: white;
    border: none;
    outline: none;
}

#main-content {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#sidebar-tools {
    position: relative;
    width: 66px;
}

.sidebar-line-border {
    height: 0;
    border-top: 1px solid #7b7b7b;
    border-bottom: 1px solid white;
    border-left:none;
    border-right:none;
    margin: 0 1px 0 4px;
}

.end {
    position: absolute;
    bottom:0;
    width:56px;
}
#sidebar-tools #tools{
    display: grid;
    grid-template-columns: repeat(2,25px);
    margin-left:8px;
    margin-top:-1px;
}

#sidebar-tools #tools div{
    border: 2px solid transparent;
    border-image: url('images/border/border-title-button.png') 4 / 2px round;
    height: 21px;
}

#sidebar-tools #tools .active-button {
    border: 2px solid transparent;
    border-image: url('images/border/border-inverted.png') 4 / 2px round;
    /*TEMP: replace with background-image */
    background: 
    repeating-conic-gradient(#bdbdbd 0% 25%, white 0% 50%) 
      50% / 2px 2px;
}

#sidebar-tools #tools div img{
    height:21px;
    width:21px;
}

.active-button img {
    margin-top: 1px;
    margin-left: 1px;
}

#canvas-and-scroll-container {
    display: flex;
    border:2px solid transparent;
    border-image: url('images/border/border-inverted.png') 2 / 2px round;
    margin-right:4px;
}

#canvas {
    width: 250px;
    height: 250px;
    background-color: white;
}

.canvasrow {
    display: flex;
}

.canvascolumn {
    flex: 1 0 auto;
    aspect-ratio: 1/1;
    background-color: rgb(255,255,255);
}

#scroll-bar {
    width: 16px;
    background-color: #dedede;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:column;
}

#scroll-up-button, #scroll-down-button {
    width: 12px;
    height: 12px;
    background-color: #bdbdbd;
    border:2px solid transparent;
    border-image: url('images/border/border.png') 2 / 2px round;
}

#color-picker {
    display:flex;
    margin-top: 9px;
    margin-bottom: 10px;
}

#color-picker #color-selected {
    margin-left: 4px;
}

#color-picker #color-selected img {
    width: 27px;
    height: 28px;
    background-color: black;
    border:2px solid transparent;
    border-image: url('images/border/border-palette.png') 2 / 2px round;
}

#color-picker #color-palette {
    display: grid;
    grid-template-columns: repeat(14, 16px);
    grid-template-rows: repeat(2, 16px);
    row-gap:0px;
    /*box-shadow: 0 -2px 0 0px #7b7b7b, 2px 0 0 2px #7b7b7b;*/
}

#color-picker #color-palette div{
    border:2px solid transparent;
    border-image: url('images/border/border-palette.png') 2 / 2px round;
}

#color-palette div[data-color="#000000"] {
    background-color: black;
}

#color-palette div[data-color="#7b7b7b"] {
    background-color: #7b7b7b;
}

#color-palette div[data-color="#7b0000"] {
    background-color: #7b0000;
}

#color-palette div[data-color="#7b7b00"] {
    background-color: #7b7b00;
}

#color-palette div[data-color="#007b00"] {
    background-color: #007b00;
}

#color-palette div[data-color="#7b7b00"] {
    background-color: #7b7b00;
}

#color-palette div[data-color="#007b7b"] {
    background-color: #007b7b;
}

#color-palette div[data-color="#007b7b"] {
    background-color: #007b7b;
}

#color-palette div[data-color="#00007b"] {
    background-color: #00007b;
}

#color-palette div[data-color="#7b007b"] {
    background-color: #7b007b;
}

#color-palette div[data-color="#7b7b39"] {
    background-color: #7b7b39;
}

#color-palette div[data-color="#003939"] {
    background-color: #003939;
}

#color-palette div[data-color="#007bff"] {
    background-color: #007bff;
}

#color-palette div[data-color="#00397b"] {
    background-color: #00397b;
}

#color-palette div[data-color="#3900ff"] {
    background-color: #3900ff;
}

#color-palette div[data-color="#7b3900"] {
    background-color: #7b3900;
}

#color-palette div[data-color="#ffffff"] {
    background-color: white;
}

#color-palette div[data-color="#bdbdbd"] {
    background-color: #bdbdbd;
}

#color-palette div[data-color="#ff0000"] {
    background-color: #ff0000;
}

#color-palette div[data-color="#ffff00"] {
    background-color: #ffff00;
}

#color-palette div[data-color="#00ff00"] {
    background-color: #00ff00;
}

#color-palette div[data-color="#00ffff"] {
    background-color: #00ffff;
}

#color-palette div[data-color="#0000ff"] {
    background-color: #0000ff;
}

#color-palette div[data-color="#ff00ff"] {
    background-color: #ff00ff;
}

#color-palette div[data-color="#ffff7b"] {
    background-color: #ffff7b;
}

#color-palette div[data-color="#00ff7b"] {
    background-color: #00ff7b;
}

#color-palette div[data-color="#7bffff"] {
    background-color: #7bffff;
}

#color-palette div[data-color="#7b7bff"] {
    background-color: #7b7bff;
}

#color-palette div[data-color="#ff007b"] {
    background-color: #ff007b;
}

#color-palette div[data-color="#ffb739"] {
    background-color: #ffb739;
}

#bottom-line-border {
    height: 0;
    width: 327px;
    border-top: 1px solid #7b7b7b;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    margin: 0 1px 0 4px;
}

footer {
    height: 25px;
    margin: 0 2px 2px 2px;
}

#footer-wrapper {
    border: 1px solid transparent;
    border-image:url('images/border/footer-border.png') 2 / 1px round;
    padding-top:8px;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 2px;
}

#footer-wrapper p {
    font-size: 9px;
    margin-left: 1px;
    margin-bottom: 0px;
}

